#mod-questions{
	background: #ccc;
	width: 1000px;
	height: 350px;
	padding: 20px;
	overflow: scroll;
}

.questions img{
	float: left;
}
.answer-list{
	outline: 1px solid black;
	margin: 10px;
	width: 100%;
	flaot: none;
}
.answer{
	outline: 1px solid black;
	width: 100%;
}
.answer:hover{
	cursor: pointer;
}
.button{
	position: relative;
	outline: 1px solid black;
	display: inline-block;
	width: 150px;
	height:20px;
	margin: 5px;
	float: left;
}
.button:hover{
	cursor: pointer;
}